/* universel selector start */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* universel selector end */

/* focuse part start*/

.focusePart {
    display: flex;
}

.focusePart__details {
    width: 40%;
    margin-left: 96px;
}

.focusePart__heading {
    font-size: 250%;
    border-left: 5px solid;
    line-height: 50px;
    border-image: linear-gradient(tomato, tomato);
    border-image-slice: 1;
    white-space: nowrap;
    margin-top: 150px;
    padding-left: 10px;
}

.focusePart__heading--active {
    color: orange;
    margin-top: 30px;
}

.focusePart__text {
    margin-top: 20px;
}

.focusePart__button {
    margin-top: 30px;
}

.focusePart__button--active {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
}

.focusePart__bottom {
    font-size: small;
    margin-top: 40px;
}

.focusePart__image {
    width: 40%;
    height: 100%;
    margin-left: 200px;
}

/* focuse part end */


/* mission part start */

.missionPart__boxes {
    margin: 50px 0px;
}

.missionPart__heading {
    text-align: center;
    margin-top: 50px;
    font-size: 250%;
}

.missionPart__heading span {
    color: orange;
}

.missionPart__boxes {
    display: flex;
}

.missionPart__boxe {
    width: 20%;
    box-shadow: 5px 5px 30px gray;
}

.missionPart__image {
    width: 40%;
    padding: 5px;
}

.missionPart__title {
    padding: 10px 20px;
}

.firstbox {
    background-color: #EDF5F6;
    border-radius: 10px soid;
    border-radius: 20px;
}

.secondbox {
    background-color: #FFEEEE;
    border-radius: 10px soid;
    border-radius: 20px;
}

.thirdbox {
    background-color: #FFF4D6;
    border-radius: 10px soid;
    border-radius: 20px;
}

.missionPart__boxes p {
    padding: 20px;
}

/* mission part end */

/* develope part start */

.develope__part {
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left center;
}

.develope__image {
    width: 50%;
    margin-left: 96px;
}

.develope__text {
    width: 80%;
    margin-right: 150px;
}

.develope__paragraph {
    padding: 25px 0px;
}

.develope__heading {
    margin-bottom: 10px;
    font-size: 200%;
}

.develope__heading--active {
    font-size: 200%;
}

/* develope part end */


/* community part start */

.community__part {
    display: flex;
    margin: 96px 96px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

/* community part end */

/* feedback part start */

.feedback__part {
    text-align: center;
}

.feedback__heading {
    color: red;
    margin-bottom: 20px;
}

.feedback__text {
    color: black;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* feedback part end */

/* footer part start */

.footer__part {
    text-align: center;
    color: white;
}

.footer {
    margin-top: 50px;
    padding: 25px;
    background-color: black;
}

.footer__heading {
    font-family: serif;
}

#year {
    color: tomato;
}

.footer__text {
    padding: 15px;
    color: gray;
}

/* footer part end */